.rentDetailsContainer {
  display: flex;
  flex-direction: row;

  > div:nth-child(1) {
    flex: 2;
  }

  > div:nth-child(2) {
    flex: 1;
  }

  @media screen and(max-width: 46em) {
    flex-direction: column;
  }

  .rentImages {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;

    img {
      width: 10rem;
    }
  }

  span {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h4 {
    color: #747474;
  }
}
